.btn-profile{
  text-align: center;
  font-family: 'Mulish', sans-serif;
  padding: 16px 16px;
  border-radius: 12px;
  font-weight: 800;
  min-width:100px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px 16px;
  margin: 0 3px 15px 0;
  border-style: solid;
  transition: 0.6s ease;
  cursor: pointer;
}

.check-btn {
  position: absolute;
  justify-content: space-around;
  bottom: 0;
}



#coder{
  color: rgba(254, 60, 204, 0.5);
  border-color: rgba(254, 60, 204, 0.5);
  box-shadow: 0 0 3px 2px rgba(254, 60, 204, 0.2);
  background-color: rgba(254, 60, 204, 0.1);
}

#coder:hover {
  color: rgba(254, 60, 204, 0.9);
  border-color: rgba(254, 60, 204, 0.9);
  box-shadow: 0 0 3px 2px rgba(254, 60, 204, 0.6);
  background-color: rgba(254, 60, 204, 0.5);
}

#researcher {
  color: rgba(248, 223, 9, 0.5);
  border-color: rgba(248, 223, 9, 0.5);
  box-shadow: 0 0 3px 2px rgba(248, 223, 9, 0.2);
  background-color: rgba(248, 223, 9, 0.1);
}

#researcher:hover {
  color: rgba(248, 223, 9, 0.9);
  border-color: rgba(248, 223, 9, 0.9);
  box-shadow: 0 0 3px 2px rgba(248, 223, 9, 0.6);
  background-color: rgba(248, 223, 9, 0.5);
}

#teacher {
  color: rgba(10, 244, 237 , 0.5);
  border-color: rgba(10, 244, 237 , 0.5);
  box-shadow: 0 0 3px 2px rgba(10, 244, 237 , 0.2);
  background-color: rgba(10, 244, 237 , 0.1);
}

#teacher:hover {
  color: rgba(10, 244, 237 , 0.9);
  border-color: rgba(10, 244, 237 , 0.9);
  box-shadow: 0 0 3px 2px rgba(10, 244, 237 , 0.6);
  background-color: rgba(10, 244, 237 , 0.5);
}

#chef{
  color: rgba(28, 243, 11 , 0.5);
  border-color: rgba(28, 243, 11 , 0.5);
  box-shadow: 0 0 3px 2px rgba(28, 243, 11 , 0.2);
  background-color: rgba(28, 243, 11 , 0.1);
}

#chef:hover{
  color: rgba(28, 243, 11 , 0.9);
  border-color: rgba(28, 243, 11 , 0.9);
  box-shadow: 0 0 3px 2px rgba(28, 243, 11 , 0.6);
  background-color: rgba(28, 243, 11 , 0.5);
}

.btn-green {
  font-family: 'Archivo', sans-serif;
  text-decoration: none;
  background-color: #81b29a;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black;
  border-style: groove;
  border-color: #606c38;
  color: white;
  text-shadow: 1px 1px 2px black;
}

