.pub-card {
  position: relative;
  width: 30rem;
  height: 29rem;
  border-style: solid;
  border-width: thin;
  box-shadow: 0 0 4px white;
  border-radius: 4px;
  border-color: white;
  color: white;
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.9);
  border-radius: 4px;
  opacity: 0;
  margin: 0;
  transition: 0.2s ease-in-out;
}

.hidden-txt {
  position: absolute;
  top: 0;
  left: 15%;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;

  color: white;
  justify-content: center;
  align-items: center;
  opacity: 0;
  margin: 0;
  transition: 0.2s ease-in-out;
}

.hidden-txt  * {
  padding-left: 20px;
  padding-right: 20px;
}

.hidden:hover {
  opacity: 1;
}

.hidden-txt:hover {
  opacity: 1;
}

.space {
  border-bottom-style: solid;
  border-color: white;
  border-width: thin;
  padding-top: 0.5rem;
}

.pub-img {
  display: flex;
  justify-content: center;
  max-height: 13rem;
  overflow: hidden;
}

.pub-img > img {
  width: 18rem;
  height: 24rem;
  padding-top: 0.5rem;
  opacity: 0.9;
}

.pub-txt {
  text-align: center;
  margin: 1rem 2rem 0;
  height: 30rem;
  text-shadow: 0 0 5px black;
}

.pro-card {
  display: flex;
  border-style: solid;
  border-width: thin;
  border-radius: 0.2rem;
  box-shadow: 0 0 4px black;
  margin-bottom: 2rem;
  width: 86%;
  height: 12rem;
  transition: 0.3s ease-in-out;
  position: relative;
}

.pro-card:hover {
  width: 87%;
  height: 13rem;
  box-shadow: 0 0 20px 2px black;
}


.pro-img {
  min-width: 21rem;
  max-width: 21rem;
  min-height: 12rem;
  margin: 0;
}

.pro-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.pro-txt {
  padding: 0 2rem;
}

.pro-txt > a > h3 {
  margin: 1rem 0;
}

.pro-txt > p {
  margin-bottom: 0.1rem ;
}

.pro-txt > hr {
  box-shadow: none;
}

.stack {
  font-style: italic;
  color: #919191;
}
