.site-container {
  margin: auto auto;
  height: 100vh;
}

.banner-container {
  background-color: black;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.about-container {
  background-color: white;
  display: flex;
  align-items: center;
  height: 75vh;
}

.skills-container {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 0;
}

.skills-col {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

.about-txt {
  margin-right: 6rem;
  margin-left: 2rem;
  padding-bottom: 2rem;
}

.projects-container {
  background-color: white;
  padding-top: 3rem;
}

.pubs-container {
  background-color: black;
  color: white;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.pro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0 2rem 0;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.footer {
  background-color: white;
}

.no-margin {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-even {
  display: flex;
  justify-content: space-evenly;
}

.about-pg {
  line-height: 1.6;
  margin: 2.5rem 0;
}

.pt {
  padding-top: 2.5rem;
}

