.site-container {
  margin: auto auto;
}

.banner-container {
  background-color: black;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.about-container {
  background-color: white;
}

.skills-container {
  background-color: black;
  color: white;
  text-align: center;
}

.skills-col {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}

.projects-container {
  background-color: white;
}

.pubs-container {
  background-color: black;
  color: white;
  text-align: center;
}

.footer {
  background-color: white;
}
