.footer {
  background-color: rgba(19, 49, 74, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13rem;
  position: relative;
}

.contacts {
  position: relative;
  right: 10.8%;
}
.contacts > h4 {
  font-size: 1rem;
  padding: 0.8rem 1.5rem 0.8rem 0.51rem;
  text-align: center;
}

.contacts * {
  color: white;
  font-size: 3rem;
  padding-right: 0.5rem;
}

.contacts * :hover {
  color: rgba(243, 133, 5, 0.95);
}

.logo-box {
  color: rgb(196, 199, 206);
  border-style: double;
  position: relative;
  left: 10.2%;
}

.logo {
  font-family: 'Shippori Mincho', serif;
  font-size: 4rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 1rem 0.5rem;
  position: relative;
}

.logo > span {
  position: absolute;
  font-size: 2rem;
  top: 3px;
  left: 45%;
}
